{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.59da74c6.chunk.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'landing/main.css' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  <script src="https://kit.fontawesome.com/d6eba2497b.js" crossorigin="anonymous"></script>
</head>

<body class="flex flex-col" style="min-height: 100vh;">
  <header>
    <!--Tailwind navbar-->
    <nav>
      <div class="flex flex-row justify-between items-center w-full bg-gray-900 py-3 px-5">
        <div id="navbar-right" class="flex flex-row items-center">
          <div class="mr-5 flex flex-row items-center space-x-2">
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 403.82 403.82">
              <defs>
                <style>
                  .cls-1 {
                    fill: #44c8f5;
                  }
                </style>
              </defs>
              <g id="Layer_2" data-name="Layer 2">
                <g id="Icon">
                  <circle class="cls-1" cx="92.67" cy="92.67" r="92.67" />
                  <circle class="cls-1" cx="92.67" cy="310.91" r="92.67" />
                  <circle class="cls-1" cx="310.91" cy="92.67" r="92.67" />
                  <path class="cls-1" d="M403.82,311.15a92.67,92.67,0,0,1-185.34,0" />
                </g>
              </g>
            </svg>
            <a class="text-2xl font-mono font-bold text-gray-200" href="{% url 'index' %}">Pro[j]tor</a>
          </div>
          <ul class="hidden md:flex md:flex-row space-x-4 text-gray-300 font-mono">
            <li>
              <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'pricing' %}">Pricing</a>
            </li>
            <li>
              <a href="{% url 'support' %}">Support</a>
            </li>
            <li>
              <a href="{% url 'about' %}">About</a>
            </li>
          </ul>
        </div>
        <div class="flex flex-row space-x-3 items-center" id="navbar-left">
          {% if user.is_authenticated %}
          <a href="#" class="text-white"><img class="w-8 h-8 border-2 border-gray-300 rounded-full"
              src="{{request.user.profile.profile_picture.url}}" alt=""></a>
          <span class="relative">
            <span class=""><a class="mx-1 px-1 text-white" href="#"><i class="fas fa-bell"></i></a></span>
            <span class="absolute top-0 right-0 bg-red-800 rounded-full w-2 h-2" style="z-index: 10;"></span>
          </span>
          <a href="#" class="text-white "><i class="fa fa-gear"></i></a>
          <a href="{% url 'logout' %}" class="text-white "><i class="fa fa-sign-out-alt"></i></a>
          {% else %}
          <a class="text-white font-semibold" href="{% url 'login' %}">Login</a>
          <a class="text-white font-semibold bg-green-600 rounded-sm px-2 py-1" href="{% url 'register' %}">Sign Up</a>
          {% endif %}
          <button id="navbar-button" class="block md:hidden"><i class="text-xl text-white fas fa-bars"></i></button>
        </div>
      </div>
      <div id="navbar-hidden-menu" class="hidden md:hidden bg-gray-800 w-full pb-2 px-5">
        <ul class="text-center text-white">
          <li class="py-1"><a href="{% url 'index' %}">Home</a></li>
          <li class="py-1"><a href="{% url 'pricing' %}">Pricing</a></li>
          <li class="py-1"><a href="{% url 'support' %}">Support</a></li>
          <li class="py-1"><a href="{% url 'about' %}">About</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="bg-purple-700">
    {% block body %}
    {% endblock %}
  </main>
  <footer class="footer mt-auto w-full bg-gray-900 py-2 border-b-2 border-gray-800">
    <p class="text-sm text-gray-400 text-center">Copyright &copy; <a class="text-blue-600" href="#">Pro[j]tor
      </a>2020-2021
    </p>
  </footer>
</body>
<script>
  var navbar = document.getElementById("navbar-hidden-menu");
  var navbarButton = document.getElementById("navbar-button");
  navbarButton.addEventListener("click", function () {
    navbar.classList.toggle("hidden");
  });
</script>
{% block javascript %}{% endblock %}

</html>