{% extends "landing/base.html" %}
{% block title %}Login - Projtor{% endblock %}
{% block body %}
<section class="mx-6">
  <!--Pricing-->
  <div class="py-5">
    <h2 class="text-center text-gray-100 font-semibold text-2xl">Pricing</h2>
    <div class="mx-auto my-4 flex flex-wrap justify-center">
      <div class="card md:w-3/12 bg-gray-100 rounded-md p-5 my-2 mx-2">
        <h3 class="text-center text-blue-900 font-semibold text-xl mb-3">Free</h3>
        <p class="text-center text-gray-800 text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, exercitationem? Ipsa mollitia deserunt iure
          cupiditate odit et tenetur dignissimos expedita quis corporis, eum consequatur error recusandae optio, eaque
          enim beatae?
        </p>
        <ul class="text-center mt-4 text-gray-900 text-md">
          <li><i class="fas fa-check text-green-600"></i> Adding 1 organization</li>
          <li><i class="fas fa-check text-green-600"></i> Adding up to 10 projects</li>
          <li><i class="fas fa-check text-green-600"></i> Unlimited tasks</li>
          <li><i class="fas fa-check text-green-600"></i> up to 5 users</li>
          <li><i class="fas fa-times text-red-600"></i> Adding 1 organization</li>
          <li><i class="fas fa-times text-red-600"></i> Adding up to 10 projects</li>
          <li><i class="fas fa-times text-red-600"></i> Unlimited tasks</li>
          <li><i class="fas fa-times text-red-600"></i> up to 5 users</li>
        </ul>
        <div class="flex justify-center mt-4">
          <a href="#" class="py-2 px-2 bg-gray-800 text-gray-100 rounded-sm">Get Started</a>
        </div>
      </div>
      <div class="card md:w-3/12 bg-gray-100 rounded-md p-5 my-2 mx-2">
        <h3 class="text-center text-blue-900 font-semibold text-xl mb-3">Pro</h3>
        <p class="text-center text-gray-800 text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, exercitationem? Ipsa mollitia deserunt iure
          cupiditate odit et tenetur dignissimos expedita quis corporis, eum consequatur error recusandae optio, eaque
          enim beatae?
        </p>
        <ul class="text-center mt-4 text-gray-900 text-md">
          <li><i class="fas fa-check text-green-600"></i> Adding 1 organization</li>
          <li><i class="fas fa-check text-green-600"></i> Adding up to 10 projects</li>
          <li><i class="fas fa-check text-green-600"></i> Unlimited tasks</li>
          <li><i class="fas fa-check text-green-600"></i> up to 5 users</li>
          <li><i class="fas fa-check text-green-600"></i> Adding 1 organization</li>
          <li><i class="fas fa-check text-green-600"></i> Adding up to 10 projects</li>
          <li><i class="fas fa-times text-red-600"></i> Unlimited tasks</li>
          <li><i class="fas fa-times text-red-600"></i> up to 5 users</li>
        </ul>
        <div class="flex justify-center mt-4">
          <a href="#" class="py-2 px-2 bg-gray-800 text-gray-100 rounded-sm">Get Started</a>
        </div>
      </div>
      <!--Single card-->
      <div class="card md:w-3/12 bg-gray-100 rounded-md p-5 my-2 mx-2">
        <h3 class="text-center text-blue-900 font-semibold text-xl mb-3">Enterprize</h3>
        <p class="text-center text-gray-800 text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, exercitationem? Ipsa mollitia deserunt iure
          cupiditate odit et tenetur dignissimos expedita quis corporis, eum consequatur error recusandae optio, eaque
          enim beatae?
        </p>
        <ul class="text-center mt-4 text-gray-900 text-md">
          <li><i class="fas fa-check text-green-600"></i> Adding 1 organization</li>
          <li><i class="fas fa-check text-green-600"></i> Adding up to 10 projects</li>
          <li><i class="fas fa-check text-green-600"></i> Unlimited tasks</li>
          <li><i class="fas fa-check text-green-600"></i> up to 5 users</li>
          <li><i class="fas fa-check text-green-600"></i> Adding 1 organization</li>
          <li><i class="fas fa-check text-green-600"></i> Adding up to 10 projects</li>
          <li><i class="fas fa-check text-green-600"></i> Unlimited tasks</li>
          <li><i class="fas fa-check text-green-600"></i> up to 5 users</li>
        </ul>
        <div class="flex justify-center mt-4">
          <a href="#" class="py-2 px-2 bg-gray-800 text-gray-100 rounded-sm">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}