{% extends "landing/base.html" %}
{% load static %}

{% block title %}projtor - Project Management Tool{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
<!--Task Detail-->
<div class="flex flex-row min-h-screen">
    
    <div class="w-full">
        
        <div class="bg-gray-700 px-10 py-5">
            <!--Task detail-->
            <div class="flex felx-row space-x-4 items-center">
                <div>
                    <h4 class="text-white text-2xl font-mono font-semibold" >{{ task.title }}</h4>
                    <h4 class="text-gray-300">{{ task.description }}</h4>
                    <h4 class="text-gray-300">Date Started: {{ task.start_date }}</h4>
                    <h4 class="text-gray-300">Deadline: {{ task.end_date }}</h4>
                    <h4 class="text-gray-300">State: {{ task.state }}</h4>
                    <div class="flex flex-row space-x-2 mt-3">
                        <a href=""><i class="fa fa-edit text-xl text-green-500"></i></a>
                        <a href=""><i class="fa fa-eraser text-xl text-red-500"></i></a>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="flex flex-row space-x-10 m-5">
            <div class="bg-gray-200 p-5 w-4/12">
                <p class="mb-5 text-xl text-center">Add a comment</p>
                <form action="{% url 'comment_create' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ commentCreationForm|crispy }}
                    <input id="task" name="task" value="{{ task.id }}" type="text" hidden>
                    <button class="bg-green-600 text-white rounded-sm py-2 px-4 w-full" type="submit">Send</button>
                </form>
            </div>
            <div class="flex-grow">
                {% for comment in comments %}
                    <div class="bg-blue-200 rounded-md mb-5">
                        <div class="rounded-t-md bg-gray-900 text-gray-100 w-full p-3">
                            <h5>Author: {{comment.author}}</h5>
                        </div>
                        <div class="p-3">
                            <p>{{comment.body}}</p>
                        </div>
                        <div class="w-full flex flex-row justify-between rounded-b-md p-2 bg-gray-700 text-gray-100">
                            <p>At: {{comment.added_at}}</p>    
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}